@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    width: 90vw;
    height: 300vh;
    overflow-x: hidden;
    
}
header{
    background-color: rgb(0, 0, 134);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    box-shadow: 1px 1px 2px black;
    margin-bottom: 30px;
}

h1{
    color: white;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

main{
    margin: auto;
    width: 80vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    column-gap: 5%;
    grid-template-rows: repeat(3,2fr);
    row-gap: 5%;
}

div.itens{    
    border: solid 2px rgb(0, 0, 134);
    box-shadow: 1px 1px 2px black;    
}

div.outro{
    border: solid 2px lightblue;
    grid-row: 1 / 3;    
    box-shadow: 1px 1px 2px grey;   
}